.nav-name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

#thumbnail{
    height: 60px;
    width: auto;
}

.btn-success{
    background-color: darkgreen;
}

.bg-blue{
    background-color: #003166   ;
}